
.pg-viewer-wrapper img {
    width: 100%!important;
    height: 100%!important;
}



.pg-viewer-wrapper .photo-viewer-container {
    height: 100%!important;
    width: 100%!important;
}
// .cssfile{
//     display: block !important;
//     }
@media only screen and (min-width:320px) and (max-width:760px){

.cssfile{
display: block !important;
}
}